In [5]:
import pandas as pd
import json
import csv
import unittest
from collections import defaultdict
import pandas.testing as pdt

In [7]:
def read_orders_from_csv(file_path):
    """
    Reads orders from a CSV file and returns a list of dictionaries.
    
    Each dictionary represents a row in the CSV with column names as keys.
    """
    with open(file_path, mode='r', encoding='utf-8') as csvfile:
        return list(csv.DictReader(csvfile, delimiter=';'))

def read_invoicing_data_from_json(file_path):
    """
    Reads invoicing data from a JSON file and returns a dictionary.
    
    The keys are the order IDs and the values are the corresponding invoice data.
    """
    with open(file_path, 'r', encoding='utf-8') as jsonfile:
        invoicing_data = json.load(jsonfile).get('data', {}).get('invoices', [])
        return {invoice['orderId']: invoice for invoice in invoicing_data}

In [ ]:
Test 1: Distribution of Crate Type per Company

In [9]:
def standardize_company_name(name):
 
    #Standardize company_name for consistency and a better visualization
    name = name.lower()
    for suffix in [' co', ' co.', 'c.o', ' c.o.', ' inc', ' inc.', ' ltd', ' ltd.', ' gmbh',]:
        if name.endswith(suffix):
            return name[:-len(suffix)].strip()
    return name

def calculate_crate_distribution(orders):

    #Calculate crate distribution per company from the list of orders.
    distribution = {}
    for order in orders:
        company, crate = order.get('company_name'), order.get('crate_type')
        if company and crate:
            standardized_name = standardize_company_name(company)
            distribution.setdefault(standardized_name, {}).setdefault(crate, 0)
            distribution[standardized_name][crate] += 1
    return distribution

if __name__ == "__main__":
    orders = read_orders_from_csv('C:/Users/yilec/Downloads/orders.csv')
    df = pd.DataFrame.from_dict(calculate_crate_distribution(orders), orient='index').fillna(0).astype(int)
    df.index.name = 'Company'
    df.reset_index(inplace=True)
    display(df)

              Company  Plastic  Metal  Wood
0        fresh fruits        2      3     1
1             veggies        1      0     2
2    seafood supplier        3      3     0
3        meat packers        3      0     0
4           green veg        1      0     3
5       organic farms        1      2     0
6     tropical fruits        2      1     0
7      healthy snacks        2      0     2
8       fresh berries        1      0     0
9   veggies unlimited        1      0     0
10     healthy greens        1      0     0
11    organic veggies        1      0     0
12         farm fresh        1      1     0
13    seafood express        1      0     0
14        green world        1      0     0
15       veggie haven        1      0     0
16       healthy eats        1      0     0
17       fruit market        1      0     0
18    healthy choices        1      0     0
19       meat express        0      1     0
20     global seafood        0      1     0
21        green farms        0      1     0
22      fresh veggies        0      1     0
23     seafood global        0      1     0
24       farms global        0      1     0
25     global veggies        0      1     0
26      green organic        0      1     0
27          fresh veg        0      1     0
28     tropical fresh        0      0     1
29        fresh farms        0      0     1
30   fruits & veggies        0      0     1
31   healthy organics        0      0     1
32        fruit kings        0      0     1
33      organic foods        0      0     1
34    veggie partners        0      0     1
35    seafood network        0      0     1
36     tropical farms        0      0     1

In [11]:
class TestCrateDistribution(unittest.TestCase):

    def setUp(self):
        # Case 1: No orders
        self.empty_orders = []
        
        # Case 2: A single order for a specific company and crate type
        self.single_order = [{'company_name': 'Fresh Fruits Co', 'crate_type': 'Plastic'}]
        
        # Case 3: Multiple orders from the same company but with slight name variations and different crate types
        self.multiple_orders_same_company = [
            {'company_name': 'Fresh Fruits Co', 'crate_type': 'Plastic'},
            {'company_name': 'Fresh Fruits c.o.', 'crate_type': 'Metal'},
            {'company_name': 'FRESH FRUITS CO', 'crate_type': 'Plastic'}
        ]
        
        # Case 4: Multiple orders from different companies with various crate types
        self.multiple_orders_multiple_companies = [
            {'company_name': 'Fresh Fruits Co', 'crate_type': 'Plastic'},
            {'company_name': 'Veggies Inc', 'crate_type': 'Wood'},
            {'company_name': 'Fresh Fruits c.o.', 'crate_type': 'Metal'},
            {'company_name': 'Veggies Inc', 'crate_type': 'Wood'},
            {'company_name': 'Fresh Fruits Co', 'crate_type': 'Plastic'},
            {'company_name': 'Veggies Inc', 'crate_type': 'Plastic'}
        ]

    # Test that an empty list of orders returns an empty dictionary
    def test_empty_orders(self):
        self.assertEqual(calculate_crate_distribution(self.empty_orders), {})

    # Test that a single order is processed correctly with one crate type
    def test_single_order(self):
        self.assertEqual(calculate_crate_distribution(self.single_order), {'fresh fruits': {'Plastic': 1}})

    # Test that multiple orders with the same company (but with varied name formats) are normalized and aggregated correctly
    def test_multiple_orders_same_company(self):
        expected = {'fresh fruits': {'Plastic': 2, 'Metal': 1}}
        self.assertEqual(calculate_crate_distribution(self.multiple_orders_same_company), expected)

    # Test that multiple orders from different companies with different crate types are correctly grouped and counted
    def test_multiple_orders_multiple_companies(self):
        expected = {
            'fresh fruits': {'Plastic': 2, 'Metal': 1},
            'veggies': {'Wood': 2, 'Plastic': 1}
        }
        self.assertEqual(calculate_crate_distribution(self.multiple_orders_multiple_companies), expected)

if __name__ == '__main__':
    unittest.main(argv=['first-arg-is-ignored'], exit=False)

....
----------------------------------------------------------------------
Ran 4 tests in 0.003s

OK

In [ ]:
Test 2: DataFrame of Orders with Full Name of the Contact

In [13]:
def extract_contact_full_name(contact_data_str):
    # Returns a full name based on the contact data string.
    if not contact_data_str or not contact_data_str.strip():
        return 'John Doe'

    try:
        # Replace single quotes with double quotes and load the JSON.
        contact_data_str = contact_data_str.replace("'", '"')
        contact_data = json.loads(contact_data_str)
        # Ensure contact_data is a dictionary.
        if isinstance(contact_data, list) and contact_data:
            contact_data = contact_data[0]

        if not isinstance(contact_data, dict):
            return 'John Doe'

        # Get the contact's first name and surname.
        contact_name = contact_data.get('contact_name', '')
        contact_surname = contact_data.get('contact_surname', '')

        # Create the full name, returning 'John Doe' if empty.
        return f"{contact_name} {contact_surname}".strip() or 'John Doe'

    except json.JSONDecodeError:
        # Return the default name if there is a JSON error.
        return 'John Doe'

def create_contact_dataframe(orders):

    data = [{
        'order_id': order.get('order_id'),
        'contact_full_name': extract_contact_full_name(order.get('contact_data'))
    } for order in orders]

    return pd.DataFrame(data)

if __name__ == "__main__":

    orders = read_orders_from_csv('C:/Users/yilec/Downloads/orders.csv')
    df_contacts = create_contact_dataframe(orders)
    pd.set_option('display.max_rows', None)
    pd.set_option('display.max_columns', None)
    display(df_contacts)

                                order_id contact_full_name
0   f47ac10b-58cc-4372-a567-0e02b2c3d479    Curtis Jackson
1   f47ac10b-58cc-4372-a567-0e02b2c3d480     Maria Theresa
2   f47ac10b-58cc-4372-a567-0e02b2c3d481      Para Cetamol
3   f47ac10b-58cc-4372-a567-0e02b2c3d482          John Doe
4   f47ac10b-58cc-4372-a567-0e02b2c3d483          John Doe
5   f47ac10b-58cc-4372-a567-0e02b2c3d484    John Krasinski
6   f47ac10b-58cc-4372-a567-0e02b2c3d485          John Doe
7   f47ac10b-58cc-4372-a567-0e02b2c3d486    Jennifer Lopez
8   f47ac10b-58cc-4372-a567-0e02b2c3d487    Liav Ichenbaum
9   f47ac10b-58cc-4372-a567-0e02b2c3d488    Curtis Jackson
10  f47ac10b-58cc-4372-a567-0e02b2c3d489       Anthony Pap
11  f47ac10b-58cc-4372-a567-0e02b2c3d490   Natalia Romanov
12  f47ac10b-58cc-4372-a567-0e02b2c3d491       Bruce Wayne
13  f47ac10b-58cc-4372-a567-0e02b2c3d492        Clark Kent
14  f47ac10b-58cc-4372-a567-0e02b2c3d493          John Doe
15  f47ac10b-58cc-4372-a567-0e02b2c3d494        Tony Stark
16  f47ac10b-58cc-4372-a567-0e02b2c3d495      Diana Prince
17  f47ac10b-58cc-4372-a567-0e02b2c3d496      Peter Parker
18  f47ac10b-58cc-4372-a567-0e02b2c3d497      Steve Rogers
19  f47ac10b-58cc-4372-a567-0e02b2c3d498   Natasha Romanov
20  f47ac10b-58cc-4372-a567-0e02b2c3d499      Bruce Banner
21  f47ac10b-58cc-4372-a567-0e02b2c3d500       Selina Kyle
22  f47ac10b-58cc-4372-a567-0e02b2c3d501       Barry Allen
23  f47ac10b-58cc-4372-a567-0e02b2c3d502        Clark Kent
24  f47ac10b-58cc-4372-a567-0e02b2c3d503          John Doe
25  f47ac10b-58cc-4372-a567-0e02b2c3d504      Diana Prince
26  f47ac10b-58cc-4372-a567-0e02b2c3d505       Bruce Wayne
27  f47ac10b-58cc-4372-a567-0e02b2c3d506      Steve Rogers
28  f47ac10b-58cc-4372-a567-0e02b2c3d507      Peter Parker
29  f47ac10b-58cc-4372-a567-0e02b2c3d508          John Doe
30  f47ac10b-58cc-4372-a567-0e02b2c3d509        Tony Stark
31  f47ac10b-58cc-4372-a567-0e02b2c3d510   Natalia Romanov
32  f47ac10b-58cc-4372-a567-0e02b2c3d511      Bruce Banner
33  f47ac10b-58cc-4372-a567-0e02b2c3d512    Curtis Jackson
34  f47ac10b-58cc-4372-a567-0e02b2c3d513     Maria Theresa
35  f47ac10b-58cc-4372-a567-0e02b2c3d514          John Doe
36  f47ac10b-58cc-4372-a567-0e02b2c3d515      Diana Prince
37  f47ac10b-58cc-4372-a567-0e02b2c3d516       Bruce Wayne
38  f47ac10b-58cc-4372-a567-0e02b2c3d517      Steve Rogers
39  f47ac10b-58cc-4372-a567-0e02b2c3d518      Peter Parker
40  f47ac10b-58cc-4372-a567-0e02b2c3d519          John Doe
41  f47ac10b-58cc-4372-a567-0e02b2c3d520    Curtis Jackson
42  f47ac10b-58cc-4372-a567-0e02b2c3d521     Maria Theresa
43  f47ac10b-58cc-4372-a567-0e02b2c3d522      Para Cetamol
44  f47ac10b-58cc-4372-a567-0e02b2c3d523          John Doe
45  f47ac10b-58cc-4372-a567-0e02b2c3d524          John Doe
46  f47ac10b-58cc-4372-a567-0e02b2c3d525    John Krasinski
47  f47ac10b-58cc-4372-a567-0e02b2c3d526          John Doe
48  f47ac10b-58cc-4372-a567-0e02b2c3d527    Jennifer Lopez
49  f47ac10b-58cc-4372-a567-0e02b2c3d528    Liav Ichenbaum
50  f47ac10b-58cc-4372-a567-0e02b2c3d529    Curtis Jackson
51  f47ac10b-58cc-4372-a567-0e02b2c3d530       Anthony Pap
52  f47ac10b-58cc-4372-a567-0e02b2c3d531          John Doe
53  f47ac10b-58cc-4372-a567-0e02b2c3d532          John Doe
54  f47ac10b-58cc-4372-a567-0e02b2c3d533          John Doe
55  f47ac10b-58cc-4372-a567-0e02b2c3d534          John Doe
56  f47ac10b-58cc-4372-a567-0e02b2c3d535    John Krasinski
57  f47ac10b-58cc-4372-a567-0e02b2c3d536          John Doe
58  f47ac10b-58cc-4372-a567-0e02b2c3d537    Jennifer Lopez
59  f47ac10b-58cc-4372-a567-0e02b2c3d538          John Doe
60  f47ac10b-58cc-4372-a567-0e02b2c3d539          John Doe
61  f47ac10b-58cc-4372-a567-0e02b2c3d540    Curtis Jackson

In [15]:
def extract_contact_full_name(contact_data_str):
    # Default name to return if no valid data is provided
    default_name = "John Doe"

    if not contact_data_str:
        return default_name

    try:
        contact_data = json.loads(contact_data_str.replace("'", '"'))
        # Check if data is a list, if so, get the first element, otherwise, use the object directly
        contact_info = contact_data[0] if isinstance(contact_data, list) else contact_data
        # Extract and concatenate name and surname, default name if empty
        return f"{contact_info.get('contact_name', '')} {contact_info.get('contact_surname', '')}".strip() or default_name
    except (json.JSONDecodeError, IndexError):

        return default_name

class TestContactFullNameExtraction(unittest.TestCase):
    def test_missing_contact_name(self):
        # Test case when contact name is missing, should return only the surname
        self.assertEqual(extract_contact_full_name('[{ "contact_surname":"Jackson"}]'), 'Jackson')

    def test_missing_contact_surname(self):
        # Test case when contact surname is missing, should return only the name
        self.assertEqual(extract_contact_full_name('[{ "contact_name":"Curtis"}]'), 'Curtis')

    def test_missing_both_names(self):
        # Test case when both name and surname are missing, should return default name
        self.assertEqual(extract_contact_full_name('[{ "city":"Chicago"}]'), 'John Doe')

if __name__ == '__main__':

    unittest.main(argv=['first-arg-is-ignored'], exit=False)

.......
----------------------------------------------------------------------
Ran 7 tests in 0.002s

OK

In [ ]:
Test 3: DataFrame of Orders with Contact Address

In [17]:
def extract_contact_address(contact_data_str):
    
    city, postal_code = 'Unknown', 'UNK00'

    # Validate and process the contact data string
    if contact_data_str:
        try:
            # Convert the contact data string to JSON format
            contact_data = json.loads(contact_data_str.replace("'", '"'))
            # If contact_data is a list, retrieve the first element
            if isinstance(contact_data, list):
                contact_data = contact_data[0] if contact_data else {}

            city = contact_data.get('city', city)
            postal_code = str(contact_data.get('cp', postal_code))
        
        except json.JSONDecodeError:
 
            pass

    # Return formatted address with city and postal code
    return f"{city}, {postal_code}"

def create_contact_address_dataframe(orders):
    # Extract contact addresses and create a dataframe with order id and address
    data = [{'order_id': order.get('order_id'), 
             'contact_address': extract_contact_address(order.get('contact_data'))} 
            for order in orders]
    return pd.DataFrame(data)

if __name__ == "__main__":

    orders = read_orders_from_csv('C:/Users/yilec/Downloads/orders.csv')
    df_contact_addresses = create_contact_address_dataframe(orders)
    pd.set_option('display.max_rows', None)
    pd.set_option('display.max_columns', None)
    display(df_contact_addresses)

                                order_id                contact_address
0   f47ac10b-58cc-4372-a567-0e02b2c3d479                 Chicago, 12345
1   f47ac10b-58cc-4372-a567-0e02b2c3d480                Calcutta, UNK00
2   f47ac10b-58cc-4372-a567-0e02b2c3d481        Frankfurt am Oder, 3934
3   f47ac10b-58cc-4372-a567-0e02b2c3d482                 Unknown, UNK00
4   f47ac10b-58cc-4372-a567-0e02b2c3d483                 Unknown, UNK00
5   f47ac10b-58cc-4372-a567-0e02b2c3d484                 New York, 1203
6   f47ac10b-58cc-4372-a567-0e02b2c3d485                 Unknown, UNK00
7   f47ac10b-58cc-4372-a567-0e02b2c3d486  Esplugues de Llobregat, UNK00
8   f47ac10b-58cc-4372-a567-0e02b2c3d487                Tel Aviv, UNK00
9   f47ac10b-58cc-4372-a567-0e02b2c3d488                 Chicago, 12345
10  f47ac10b-58cc-4372-a567-0e02b2c3d489                Barcelona, 8023
11  f47ac10b-58cc-4372-a567-0e02b2c3d490                  Moscow, 65432
12  f47ac10b-58cc-4372-a567-0e02b2c3d491                  Gotham, UNK00
13  f47ac10b-58cc-4372-a567-0e02b2c3d492              Metropolis, 10001
14  f47ac10b-58cc-4372-a567-0e02b2c3d493                 Unknown, UNK00
15  f47ac10b-58cc-4372-a567-0e02b2c3d494                New York, UNK00
16  f47ac10b-58cc-4372-a567-0e02b2c3d495              Themyscira, 45789
17  f47ac10b-58cc-4372-a567-0e02b2c3d496                  Queens, 11432
18  f47ac10b-58cc-4372-a567-0e02b2c3d497                Brooklyn, 11201
19  f47ac10b-58cc-4372-a567-0e02b2c3d498                  Moscow, 65432
20  f47ac10b-58cc-4372-a567-0e02b2c3d499           San Francisco, 94102
21  f47ac10b-58cc-4372-a567-0e02b2c3d500                  Gotham, UNK00
22  f47ac10b-58cc-4372-a567-0e02b2c3d501            Central City, 56321
23  f47ac10b-58cc-4372-a567-0e02b2c3d502              Metropolis, UNK00
24  f47ac10b-58cc-4372-a567-0e02b2c3d503                 Unknown, UNK00
25  f47ac10b-58cc-4372-a567-0e02b2c3d504              Themyscira, 45789
26  f47ac10b-58cc-4372-a567-0e02b2c3d505                  Gotham, UNK00
27  f47ac10b-58cc-4372-a567-0e02b2c3d506                Brooklyn, UNK00
28  f47ac10b-58cc-4372-a567-0e02b2c3d507                  Queens, 11432
29  f47ac10b-58cc-4372-a567-0e02b2c3d508                 Unknown, UNK00
30  f47ac10b-58cc-4372-a567-0e02b2c3d509                New York, UNK00
31  f47ac10b-58cc-4372-a567-0e02b2c3d510                  Moscow, 65432
32  f47ac10b-58cc-4372-a567-0e02b2c3d511           San Francisco, 94102
33  f47ac10b-58cc-4372-a567-0e02b2c3d512                 Chicago, 12345
34  f47ac10b-58cc-4372-a567-0e02b2c3d513                Calcutta, UNK00
35  f47ac10b-58cc-4372-a567-0e02b2c3d514                 Unknown, UNK00
36  f47ac10b-58cc-4372-a567-0e02b2c3d515              Themyscira, 45789
37  f47ac10b-58cc-4372-a567-0e02b2c3d516                  Gotham, UNK00
38  f47ac10b-58cc-4372-a567-0e02b2c3d517                Brooklyn, 11201
39  f47ac10b-58cc-4372-a567-0e02b2c3d518                  Queens, 11432
40  f47ac10b-58cc-4372-a567-0e02b2c3d519                 Unknown, UNK00
41  f47ac10b-58cc-4372-a567-0e02b2c3d520                 Chicago, 12345
42  f47ac10b-58cc-4372-a567-0e02b2c3d521                Calcutta, UNK00
43  f47ac10b-58cc-4372-a567-0e02b2c3d522        Frankfurt am Oder, 3934
44  f47ac10b-58cc-4372-a567-0e02b2c3d523                 Unknown, UNK00
45  f47ac10b-58cc-4372-a567-0e02b2c3d524                 Unknown, UNK00
46  f47ac10b-58cc-4372-a567-0e02b2c3d525                 New York, 1203
47  f47ac10b-58cc-4372-a567-0e02b2c3d526                 Unknown, UNK00
48  f47ac10b-58cc-4372-a567-0e02b2c3d527  Esplugues de Llobregat, UNK00
49  f47ac10b-58cc-4372-a567-0e02b2c3d528                Tel Aviv, UNK00
50  f47ac10b-58cc-4372-a567-0e02b2c3d529                 Chicago, 12345
51  f47ac10b-58cc-4372-a567-0e02b2c3d530                Barcelona, 8023
52  f47ac10b-58cc-4372-a567-0e02b2c3d531                 Unknown, UNK00
53  f47ac10b-58cc-4372-a567-0e02b2c3d532                 Unknown, UNK00
54  f47ac10b-58cc-4372-a567-0e02b2c3d533                 Unknown, UNK00
55  f47ac10b-58cc-4372-a567-0e02b2c3d534                 Unknown, UNK00
56  f47ac10b-58cc-4372-a567-0e02b2c3d535                 New York, 1203
57  f47ac10b-58cc-4372-a567-0e02b2c3d536                 Unknown, UNK00
58  f47ac10b-58cc-4372-a567-0e02b2c3d537  Esplugues de Llobregat, UNK00
59  f47ac10b-58cc-4372-a567-0e02b2c3d538                 Unknown, UNK00
60  f47ac10b-58cc-4372-a567-0e02b2c3d539                 Unknown, UNK00
61  f47ac10b-58cc-4372-a567-0e02b2c3d540                 Chicago, 12345

In [19]:
class TestContactAddressExtraction(unittest.TestCase):
    
    # This function extracts the city and cp from a JSON string
    
    def extract_contact_address(self, contact_data_str):

        contact_data = json.loads(contact_data_str)[0]

        return f"{contact_data.get('city', 'Unknown')}, {contact_data.get('cp', 'UNK00')}"

    # Test case for when the city is missing in the input JSON
    def test_missing_city(self):

        self.assertEqual(self.extract_contact_address('[{ "cp": "12345"}]'), 'Unknown, 12345')

    # Test case for when the cp is missing in the input JSON
    def test_missing_cp(self):

        self.assertEqual(self.extract_contact_address('[{ "city": "Chicago"}]'), 'Chicago, UNK00')

    # Test case for when both city and cp are missing in the input JSON
    def test_missing_both_city_and_cp(self):

        self.assertEqual(self.extract_contact_address('[{}]'), 'Unknown, UNK00')


if __name__ == "__main__":

    unittest.main(argv=['first-arg-is-ignored'], exit=False)

..........
----------------------------------------------------------------------
Ran 10 tests in 0.004s

OK

In [ ]:
Test 4: Calculation of Sales Team Commissions

In [21]:
def calculate_net_value(gross_value, vat):
    # Calculate the net value from gross value by removing the VAT percentage.
    return gross_value / (1 + vat / 100)

def calculate_commissions(orders, invoices):

    commissions = defaultdict(float)

    commission_rates = [0.06, 0.025, 0.0095]  

    # Iterate through each order to calculate commissions.
    for order in orders:

        order_id, salesowners_str = order.get('order_id'), order.get('salesowners')

        invoice = invoices.get(order_id)
        # Skip calculation if invoice or sales owners are missing.
        if not invoice or not salesowners_str:
            continue

        # Calculate the net value of the order by removing VAT from the gross value.
        net_value = calculate_net_value(int(invoice['grossValue']) / 100, float(invoice['vat']))

        salesowners = [owner.strip() for owner in salesowners_str.split(',') if owner.strip()]

        # Distribute the net value among sales owners based on the commission rates.
        for idx, owner in enumerate(salesowners[:len(commission_rates)]):
            commissions[owner] += net_value * commission_rates[idx]


    return pd.DataFrame(
        sorted({owner: round(amount, 2) for owner, amount in commissions.items()}.items(), 
               key=lambda x: x[1], reverse=True), 
        columns=['Sales Owner', 'Total Commission ()']
    )

if __name__ == "__main__":

    orders = read_orders_from_csv('C:/Users/yilec/Downloads/orders.csv')

    invoices = read_invoicing_data_from_json('C:/Users/yilec/Downloads/invoicing_data.json')

    display(calculate_commissions(orders, invoices))

          Sales Owner  Total Commission ()
0       Leonard Cohen                650.31
1     David Henderson                463.29
2      Luke Skywalker                377.61
3        David Goliat                214.96
4      Ammy Winehouse                209.52
5   Marianov Merschik                188.61
6        Yuri Gagarin                154.62
7         Chris Pratt                114.08
8     Vladimir Chukov                 72.83
9         Marie Curie                 70.52
10        Leon Leonov                 59.82
11       Markus Sder                 22.74

In [23]:
class TestCommissionCalculations(unittest.TestCase):

    def setUp(self):
        # Sample data setup for orders and invoices
        self.orders = [
            {'order_id': 'order1', 'salesowners': 'Alice, Bob, Charlie'},
            {'order_id': 'order2', 'salesowners': 'Bob, Alice'},
            {'order_id': 'order3', 'salesowners': 'Charlie'},
            {'order_id': 'order4', 'salesowners': 'Dana'},
            {'order_id': 'order5', 'salesowners': ''}
        ]
        self.invoices = {
            'order1': {'grossValue': '119000', 'vat': '19'},
            'order2': {'grossValue': '238000', 'vat': '19'},
            'order3': {'grossValue': '100000', 'vat': '0'},
            'order4': {'grossValue': '121000', 'vat': '21'},
            'order5': {'grossValue': '100000', 'vat': '19'}
        }

    def assert_commission_df_equal(self, commissions_df, expected_data):
        # Test to assert equality of two dataframes
        expected_df = pd.DataFrame(expected_data, columns=['Sales Owner', 'Total Commission ()'])
        commissions_df = pd.DataFrame(commissions_df, columns=['Sales Owner', 'Total Commission ()'])
        
        # Check if both DataFrames aren't empty before sorting to avoid errors
        if not expected_df.empty and not commissions_df.empty:
            expected_df = expected_df.sort_values(by='Sales Owner').reset_index(drop=True)
            commissions_df = commissions_df.sort_values(by='Sales Owner').reset_index(drop=True)
        
        pdt.assert_frame_equal(commissions_df, expected_df)

    def test_calculate_net_value(self):
        # Test for correct net value calculation from gross value and VAT
        gross_value, vat, expected_net = 119000, 19, 1000.00
        net_value = calculate_net_value(gross_value, vat) / 100
        self.assertAlmostEqual(net_value, expected_net)

    def test_calculate_commissions(self):
        # Test for calculating commissions with multiple sales owners per order
        expected_commissions = [
            {'Sales Owner': 'Bob', 'Total Commission ()': 145.0},
            {'Sales Owner': 'Alice', 'Total Commission ()': 110.0},
            {'Sales Owner': 'Charlie', 'Total Commission ()': 69.5},
            {'Sales Owner': 'Dana', 'Total Commission ()': 60.0}
        ]
        self.assert_commission_df_equal(calculate_commissions(self.orders, self.invoices), expected_commissions)

    def test_commission_calculation_accuracy(self):
        # Test accuracy of commission calculation with specific data for an order
        orders = [{'order_id': 'order1', 'salesowners': 'Alice, Bob, Charlie'}]
        invoices = {'order1': {'grossValue': '119000', 'vat': '19'}}
        expected_commissions = [
            {'Sales Owner': 'Alice', 'Total Commission ()': 60.0},
            {'Sales Owner': 'Bob', 'Total Commission ()': 25.0},
            {'Sales Owner': 'Charlie', 'Total Commission ()': 9.5}
        ]
        self.assert_commission_df_equal(calculate_commissions(orders, invoices), expected_commissions)

    def test_commission_sorting_order(self):
        # Test to verify if the commissions are sorted in descending order
        commissions_df = calculate_commissions(self.orders, self.invoices)
        
        # Extract the Total Commission () column and check if it is sorted in descending order
        commission_values = commissions_df['Total Commission ()'].values
        self.assertTrue(
            all(commission_values[i] >= commission_values[i + 1] for i in range(len(commission_values) - 1)),
        )

if __name__ == '__main__':
    unittest.main(argv=['first-arg-is-ignored'], exit=False)

..............
----------------------------------------------------------------------
Ran 14 tests in 0.009s

OK

In [ ]:
Test 5: DataFrame of Companies with Sales Owners

In [25]:
def create_company_salesowners_dataframe(orders):

    company_dict = {}
    
    # Iterate through each order in the orders list
    for order in orders:
        company_id = order.get('company_id')
        company_name = order.get('company_name')
        salesowners = order.get('salesowners', '')

        standardized_name = standardize_company_name(company_name)
        
        # Get or create an entry in the dictionary for the company name
        company = company_dict.setdefault(standardized_name, {
            'company_id': company_id,
            'company_name': company_name,
            'salesowners_set': set()  
        })

        # Update to the company with the lowest id if current id is smaller
        if company_id < company['company_id']:
            company['company_id'], company['company_name'] = company_id, company_name
            
        # If salesowners exist, update the set with the unique owners
        if salesowners:
            company['salesowners_set'].update({owner.strip() for owner in salesowners.split(',') if owner.strip()})
            
    # Convert the dictionary to a list of dictionaries, sorted salesowners joined into a single string
    data = [
        {
            'company_id': company['company_id'],
            'company_name': company['company_name'],
            'list_salesowners': ', '.join(sorted(company['salesowners_set']))  
        }
        for company in company_dict.values()
    ]

    return pd.DataFrame(data) 

if __name__ == "__main__":

    orders = read_orders_from_csv('C:/Users/yilec/Downloads/orders.csv')

    df_3 = create_company_salesowners_dataframe(orders)
    pd.options.display.max_colwidth = None
    display(df_3)

,company_id,company_name,list_salesowners
0,1e2b47e6-499e-41c6-91d3-09d12dddfbbd,Fresh Fruits Co,"Ammy Winehouse, David Henderson, Leon Leonov, Leonard Cohen, Luke Skywalker"
1,0f05a8f1-2bdf-4be7-8c82-4c9b58f04898,Veggies Inc,"David Goliat, Leon Leonov, Leonard Cohen, Luke Skywalker"
2,1c4b0b50-1d5d-463a-b56e-1a6fd3aeb7d6,Seafood Supplier,"Ammy Winehouse, David Goliat, Leonard Cohen, Markus Sder"
3,34538e39-cd2e-4641-8d24-3c94146e6f16,Meat Packers Ltd,"Chris Pratt, David Henderson, Leon Leonov, Marianov Merschik"
4,fa14c3ed-3c48-49f4-bd69-4d7f5b5f4b1b,Green Veg Co,"Ammy Winehouse, Chris Pratt, David Henderson, Leonard Cohen, Luke Skywalker"
5,acdb6f30-764f-404e-8b8e-7e7e3e6fa1a9,Organic Farms,"Chris Pratt, David Henderson, Leon Leonov, Leonard Cohen"
6,5f0bdbdf-1d84-4c23-957c-8bb8c0ddc89d,Tropical Fruits Ltd,"David Goliat, David Henderson, Yuri Gagarin"
7,20dfef10-8f4e-45a1-82fc-123f4ab2a4a5,healthy snacks c.o.,"Ammy Winehouse, Chris Pratt, Luke Skywalker, Marianov Merschik, Marie Curie, Vladimir Chukov"
8,4a98d9ec-65f6-438f-9a0c-0d9e1a6f7c65,Fresh Berries Inc,"Ammy Winehouse, Leonard Cohen"
9,f3b70f8d-bb74-4d96-b1f2-88e5c0c68b14,Meat Express Ltd,"Chris Pratt, Marie Curie, Yuri Gagarin"
10,83df789a-b30c-4a1b-8e67-1f512bfa20c7,Tropical Fresh Co,"Ammy Winehouse, David Henderson, Leonard Cohen"
11,9b31b19f-69a2-4aeb-8f6e-f4b8d2f9c12a,Veggies Unlimited,"Ammy Winehouse, Leon Leonov"
12,d4e31b02-ea50-46b7-a8a1-43fdbb06e3fa,Global Seafood Co,"Leonard Cohen, Yuri Gagarin"
13,5c17d142-4b21-4293-8a34-8dcd2bc24f82,Fresh Farms Ltd,"Chris Pratt, David Goliat, Marie Curie"
14,2b42dcb7-bc74-4e56-93f8-7612d5061d5f,Healthy Greens Co,"Ammy Winehouse, Leonard Cohen, Marie Curie"
15,6d3f48b2-4e3c-49d5-b437-735d537bb2a6,Fruits & Veggies Co,"Chris Pratt, Yuri Gagarin"
16,1f06b236-f6b5-4f48-8c1c-7b55b5c7d6f7,Green Farms Inc,"Ammy Winehouse, Leon Leonov"
17,7d4b212e-29e5-4f2a-9b28-745a3c7f0b60,Organic Veggies Ltd,"Ammy Winehouse, David Henderson, Leonard Cohen"
18,2122bb43-1a5e-4f8d-8bb9-4987c9d4a8df,Farm Fresh Ltd,"Ammy Winehouse, Chris Pratt, Leonard Cohen, Marie Curie, Yuri Gagarin"
19,a32972e9-d9ad-4180-9b79-4d29a7d22e10,Seafood Express,"Leonard Cohen, Yuri Gagarin"
20,9e25a3d7-46b8-4c9d-b805-2f6c3be6f5a0,Healthy Organics Co,"Ammy Winehouse, Leon Leonov, Marie Curie"
21,012f20c6-00d5-4f45-999f-12e7639db623,Green World Ltd,"Chris Pratt, David Goliat"
22,f31b4d26-5083-4b7a-bef9-3f89c7c95758,Fresh Veggies Inc,"Marie Curie, Yuri Gagarin"
23,063a7dc7-b93a-4f38-b7f0-0e30b5b217ac,Fruit Kings Ltd,"David Goliat, Leon Leonov"
24,7f80fdd9-1c1a-4ad4-9348-19e6b2b44bde,Veggie Haven Co,"Ammy Winehouse, Chris Pratt, Leonard Cohen"
25,992c1e6e-7740-4116-9d16-7c12b9e498d3,Seafood Global Inc,"David Henderson, Marie Curie, Yuri Gagarin"
26,8347edb3-c4e5-4fc1-8e0c-1fcf9f0d02b9,Organic Foods Ltd,"Chris Pratt, Leon Leonov, Leonard Cohen"
27,0d09ae2b-d9a5-4d67-bb97-963be9379b4e,Healthy Eats Ltd,"Ammy Winehouse, Yuri Gagarin"
28,4a7561b1-1de1-420a-93ed-2c12a5bbd1ab,Farms Global Co,"David Goliat, Leonard Cohen"
29,4c0e716f-c8b1-4ad5-b612-92f5a1d6be79,Veggie Partners Ltd,"Chris Pratt, Leon Leonov"
30,9851fa89-7b7a-4ed5-89f7-65c20599e0d2,Fruit Market Ltd,"Ammy Winehouse, David Henderson, Leonard Cohen"
31,c672f19b-f08b-4e11-b0f5-791ea8273d85,Global Veggies Inc,"Chris Pratt, Yuri Gagarin"
32,0b8755d4-3d28-4039-b9a7-b30cb5ff02ea,Seafood Network Ltd,"Ammy Winehouse, David Goliat, Leon Leonov"
33,f712dc3d-4681-4ec6-9b76-bf47b4ccf5b2,Green Organic Co,"Chris Pratt, Leon Leonov"
34,6cbfd9da-14d3-4a56-b928-3a1e2c71ef83,Tropical Farms Ltd,"David Goliat, Leonard Cohen"
35,d66c0c95-1f86-4d55-9245-bfa98c0f8dcb,Healthy Choices Co,"Ammy Winehouse, Chris Pratt, Leon Leonov"
36,1b21f4a3-22d2-43f2-ae3f-e254d282d9e0,Fresh Veg Co,"David Henderson, Leonard Cohen"

In [27]:
class TestCompanySalesownersDataframe(unittest.TestCase):

    def setUp(self):
        
        # Define a list of order dictionaries, each containing order_id, company_id, company_name, and salesowners
        self.orders = [
            {'order_id': 'order1', 'company_id': 'id1', 'company_name': 'Acme Co', 'salesowners': 'Alice, Bob'},
            {'order_id': 'order2', 'company_id': 'id2', 'company_name': 'Acme Co.', 'salesowners': 'Charlie'},
            {'order_id': 'order3', 'company_id': 'id3', 'company_name': 'Beta Inc', 'salesowners': 'Dana'},
            {'order_id': 'order4', 'company_id': 'id4', 'company_name': 'Gamma Ltd', 'salesowners': 'Eve, Frank'},
            {'order_id': 'order5', 'company_id': 'id5', 'company_name': 'Acme c.o.', 'salesowners': 'George, Alice'},
            {'order_id': 'order6', 'company_id': 'id6', 'company_name': 'Gamma ltd', 'salesowners': 'Heidi'}
        ]
        self.df = create_company_salesowners_dataframe(self.orders)

    def test_dataframe_creation_and_content(self):
        # Test the length of the dataframe and the unique company names
        self.assertEqual(len(self.df), 3)  
         # Define expected unique company names for validation
        expected_company_names = {'Acme Co', 'Beta Inc', 'Gamma Ltd'}
    
        self.assertEqual(set(self.df['company_name']), expected_company_names)

        acme_row = self.df[self.df['company_name'] == 'Acme Co'].iloc[0]
        self.assertEqual(acme_row['company_id'], 'id1')
        self.assertEqual(acme_row['list_salesowners'], 'Alice, Bob, Charlie, George')

        gamma_row = self.df[self.df['company_name'] == 'Gamma Ltd'].iloc[0]
        self.assertEqual(gamma_row['list_salesowners'], 'Eve, Frank, Heidi')

    def test_no_duplicate_company_names(self):
        # Check that there are no duplicate company names 
        company_names = self.df['company_name'].tolist()

        self.assertEqual(len(company_names), len(set(company_names)))

if __name__ == '__main__':

    unittest.main(argv=['first-arg-is-ignored'], exit=False)

................
----------------------------------------------------------------------
Ran 16 tests in 0.009s

OK